@media only screen and (max-width: 1010px) {
  main .pricings {
    flex-flow: column wrap;
  }
  main .pricings .professional {
    height: 400px;
    margin: 40px 0;
  }
  main .pricings .basic,
  main .pricings .master {
    border-radius: 10px;
  }

  body .background-1 {
    display: none;
  }
}

@media only screen and (max-width: 350px) {
  main .pricings .basic,
  main .pricings .master,
  main .pricings .professional {
    width: 220px;
  }
}

@media only screen and (max-width: 290px) {
  main .pricings .basic,
  main .pricings .master,
  main .pricings .professional {
    width: 200px;
  }
}
@media only screen and (max-width: 275px) {
  main .pricings .basic,
  main .pricings .master,
  main .pricings .professional {
    width: 150px;
  }
  .toggle-control {
    margin: 0 5px;
  }
  main .pricings #monthly-price-basic,
  main .pricings #monthly-price-professional,
  main .pricings #monthly-price-master {
    font-size: 40px;
  }
  .switch-box h3 {
    font-size: 15px;
  }
}
